@font-face{
    font-family: retro;
    src: url(fonts/MS-Sans-Serif.ttf);
}


.overlay {
  width: 100%;
  height: 100%;
  margin: 0;
}

body{
    color: #f1f1f1;
    margin: 0;
    background-color: #00a;
    font-family: retro;
}

nav{
    background-color: #acacac;
}

nav p{
  padding: 0;
  margin: 0;
}

nav a{
    color: #00a;
}

nav a:hover{
  color:white;
}

h1{
    background-color: silver;
    color: #00a;
    padding: 0 1rem;
    font-size: 1rem;
    display: inline-block;
    text-align: center;
}

.blink {
    animation: blink 1s steps(1) infinite;
  }

  .overlay {
    width: 100%;
    z-index:2;
    pointer-events: none;

    &.overlay--vignette {
        background-image: radial-gradient(ellipse at center, rgba(0,0,0,0) 50%, rgba(0,0,0,0.25) 100%);
    }

    &.overlay--scanline {
        background-image: linear-gradient(0deg, rgba(0,0,0,0) 25%, rgba(0,0,0,0.33) 25%, rgba(0,0,0,0.33) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.33) 75%, rgba(0,0,0,0.33) 100%);
        background-size: 4px 4px;
    }
  }
  
  .flex-full-justify {
    padding:1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    > .flex-inner {
      max-width: 40rem;
    }
  }
  
  h1 {
    background-color: silver;
    color: #00a;
    padding: 0 1rem;
    font-size: 1rem;
    display: inline-block;
  }
  
  ul {
    list-style-type: none;
    padding-left: 1.5em;
    
    > li {
      position: relative;
      
      &:before {
        font-family: "Perfect DOS";
        color: #f1f1f1;
        content: "*";
        position: absolute;
        left: -1.5em;
        font-size:1rem;
      }
    }
  }
  
  .text-center {
    text-align: center;
  }
  
  .blink {
    animation: blink 1s steps(1) infinite;
  }
  
  @keyframes blink {
    66% {
      opacity: 0;
    }
  }


footer a{
  color: white;
}

footer a:hover{
  color:#00a;
}

.bar{
  padding-top: 0.1px;
  text-align: center;
  background-color: #acacac;
  justify-content: center;
  align-items: center;
  
}


.contactcard{
    margin: 0 auto;
    padding: 10px;
    width: 500px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    box-shadow: 0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one-col{
    grid-template-columns: 1fr;
}

input{
    width: 200px;
}

textarea{
    resize: none;
    width: 500px;
    height: 200px;
}

input[type=submit]{
    width: 100px;
    background-color: silver;
    color: #00a;
    font-family: retro;
    font-size: 15px;
}

.contact textarea{
  resize: none;
  width: 500px;
  height: 200px;
}
